@using System.Security.Claims;
@model mmria.server.Controllers.recover_deleted_caseController.UpdateDeletedCaseResult;
@{ 
    Layout = "_LayoutBase";
    ViewBag.BreadCrumbs = true;
    var userName = "";
    
    if(User.Identity != null && User.Identity.IsAuthenticated)
    {
        userName = User.Identities.First(
        u => u.IsAuthenticated && 
        u.HasClaim(c => c.Type == ClaimTypes.Name)).FindFirst(ClaimTypes.Name).Value;
    }
}


<h1 class="h2" tabindex="-1">Deleted Case Resotred</h1>
<a class="btn btn-secondary" href="/recover-deleted-case">Search Again</a>

@if(Model.is_problem_deleting)
{
    <div class="alert-danger align-items-center justify-content-start  modal-header ui-widget-header ui-helper-clearfix">
    <span class="fi cdc-icon-close-circle pr-1" aria-hidden="true"></span><span id="ui-id-1" class="ui-dialog-title">The problem with recovering case for MMRIA Record ID: <strong>@Model.detail.record_id</strong></span>
    <div>@Model.problem_description</div>
    </div>
}
else
{
    <div class="alert-info align-items-center justify-content-start  modal-header ui-widget-header ui-helper-clearfix">
    <span class="fi cdc-icon-alert_01 pr-1" aria-hidden="true"></span><span id="ui-id-1" class="ui-dialog-title">The deleted case has been restored for MMRIA Record ID: <strong>@Model.detail.record_id</strong></span>
    </div>
}


<p><strong>MMRIA Record ID:</strong> @Model.detail.record_id</p>
<p><strong>First Name:</strong> @Model.detail.first_name</p>
<p><strong>Last Name:</strong> @Model.detail.last_name</p>
<p><strong>Date of Deletion:</strong> @Model.detail.date_created</p>
<p><strong>Deleted By:</strong> @Model.detail.user_name</p>

<a class="btn btn-primary mb-3" href="/recover-deleted-case">Search Again</a>
