@model List<mmria.server.utils.JurisdictionSummaryItem>
@{
    var total = new mmria.server.utils.JurisdictionSummaryItem();
    var _index = 0;
}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="description" content="The Maternal Mortality Review Information App (MMRIA) is a public health software tool created to collect, store, analyze and summarize information relevant to maternal deaths. The MMRIA serves 2 purposes: first to provide complete, detailed, and organized medical and social information that can be used by medical review committees to investigate individual maternal deaths; and second to provide a standardized cumulative database for future research and analysis on maternal mortality.">
<title>Maternal Mortality Review Information App | Public Health | MMRIA</title>
</head>
<body>


<h1>MMRIA Jurisdiction Summary Report</h1>

<table border=1>
<tr>
    <td colspan=5>&nbsp;</td>
    <td colspan="4" align=center>MMRIA User Role Assignment</td>
</tr>
<tr>
    <td>#</td>
    <td>Jurisdiction Abbreviation</td>
    <td>Report Date</td>
    <td># of Records</td>
    <td># of Unique MMRIA Users</td>
    <td>Jurisdiction Admin</td>
    <td>Abstractor</td>
    <td>Analyst</td>
    <td>Committee Member</td>
</tr>

@foreach (var item in Model)
{
    _index+=1;
    
    item.num_users_unq = item.num_recs;

    total.num_recs += item.num_recs;
    total.num_users_unq += item.num_users_unq;
    total.num_users_ja += item.num_users_ja;
    total.num_users_abs += item.num_users_abs;
    total.num_user_anl += item.num_user_anl;
    total.num_user_cm += item.num_user_cm;

<tr>
    <td>@_index</td>
    <td>@item.host_name</td>
    <td>@item.rpt_date</td>
    <td>@item.num_recs</td>
    <td>@item.num_users_unq</td>
    <td>@item.num_users_ja</td>
    <td>@item.num_users_abs</td>
    <td>@item.num_user_anl</td>
    <td>@item.num_user_cm</td>
</tr>
}
<tr>
    <td>&nbsp;</td>
    <td>Total</td>
    <td></td>
    <td>@total.num_recs</td>
    <td>@total.num_users_unq</td>
    <td>@total.num_users_ja</td>
    <td>@total.num_users_abs</td>
    <td>@total.num_user_anl</td>
    <td>@total.num_user_cm</td>
</tr>


</table>

 
</body>
</html>
