@model List<mmria.server.Controllers.JurisdictionSummaryItem>
@{var total = 0;}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="description" content="The Maternal Mortality Review Information App (MMRIA) is a public health software tool created to collect, store, analyze and summarize information relevant to maternal deaths. The MMRIA serves 2 purposes: first to provide complete, detailed, and organized medical and social information that can be used by medical review committees to investigate individual maternal deaths; and second to provide a standardized cumulative database for future research and analysis on maternal mortality.">
<title>Maternal Mortality Review Information App | Public Health | MMRIA</title>
</head>
<body>


<h1>MMRIA Jurisdiction Summary Report</h1>

<table>
<tr>
    <td colspan=5>&nbsp;</td>
    <td colspan="4">MMRIA User Role Assignment</td>
</tr>
<tr>
    <td>#</td>
    <td>Jurisdiction Abbreviation</td>
    <td>Report Date</td>
    <td># of Records</td>
    <td># of Unique MMRIA Users</td>
    <td>Jurisdiction Admin</td>
    <td>Abstractor</td>
    <td>Analyst</td>
    <td>Committee Member</td>
</tr>

@foreach (var item in Model)
{
     total+= item.num_recs;

<tr>
    <td>#</td>
    <td>@item.host_name</td>
    <td>@item.rpt_date</td>
    <td>@item.num_recs</td>
    <td>@item.num_users_unq</td>
    <td>@item.num_users_ja</td>
    <td>@item.num_users_abs</td>
    <td>@item.num_user_anl</td>
    <td>@item.num_user_cm</td>
</tr>
}
<tr>
    <td colspan=8>Total</td>
    <td>@total</td>
</tr>

</table>
host_name
rpt_date
num_recs
num_users_unq
num_users_ja
num_users_abs
num_user_anl
num_user_cm
 
</body>
</html>
