<fieldset>
    <legend>@Metadata.prompt</legend>

@foreach (var item  in Metadata.children)
{
    @switch (item.type.ToUpper())
    {
        case "STRING":
        case "NUMBER":
            var control_style = "";
            var prompt_style = "";

            var p_dictionary_path = $"{Metadata.name}/{item.name}";
            if(UI_Specification.form_design.ContainsKey(p_dictionary_path))
            {
                var style_object = UI_Specification.form_design[p_dictionary_path];

                control_style = get_style_string(style_object.control.style);
                prompt_style = get_style_string(style_object.prompt.style);
            }

            <p style="@prompt_style">@item.prompt</p>
            <input type="text" value="" style="@control_style"/>  
        break;

                    
        case "LIST":
        <p>@item.prompt</p>
        <select>

        @foreach (var option  in item.values)
        {

        }

        </select> 
        break;
        case "GROUP":
            <Group Metadata="@item" UI_Specification="@UI_Specification"> </Group>
        break;
    }
        
}

</fieldset>
@code 
{

    [Parameter]
    public mmria.common.metadata.node Metadata { get; set; }

    [Parameter]
    public mmria.common.metadata.UI_Specification UI_Specification { get; set; }

    protected override async Task OnInitializedAsync()
    {
        System.Console.WriteLine("OnInitializedAsync");
       // metadata = await GetMetadata();
    }

    string get_style_string(string p_style_string)
    {
        //"{"position":"absolute","top":12,"left":8,"height":50,"width":110.219,"font-weight":"400","font-size":"16px","font-style":"normal","color":"rgb(0, 0, 0)"}"
        var result = p_style_string.Substring(1);

        result = result.Replace("\"", "").Replace("{","").Replace("}","").Replace(",", ";");

        return result;
    }

}
