<h2>@Metadata.prompt</h2>

@foreach (var item  in Metadata.children)
{
    var dictionary_path = $"{Metadata.name}/{item.name}";
    var control_style = "";
    var prompt_style = "";

    if(UI_Specification.form_design.ContainsKey(dictionary_path))
    {
        var style_object = UI_Specification.form_design[dictionary_path];

        if(style_object.control != null)
            control_style = get_style_string(style_object.control.style);
        if(style_object.prompt != null)
            prompt_style = get_style_string(style_object.prompt.style);
    }
    @switch (item.type.ToUpper())
    {
        case "STRING":
        case "NUMBER":
            <p style="@prompt_style">@item.prompt</p>
            <input type="text" value="" style="@control_style"/>  
        break;

                    
        case "LIST":
        <p style="@prompt_style">@item.prompt</p>
        <select  style="@control_style">

        @foreach (var option  in item.values)
        {

        }

        </select> 
        break;
        case "GROUP":
            <Group Metadata="@item" UI_Specification="@UI_Specification" MMRIA_Path="@dictionary_path"> </Group>
            break;
    }
        
}


@code 
{

    [Parameter]
    public mmria.common.metadata.node Metadata { get; set; }

    [Parameter]
    public mmria.common.metadata.UI_Specification UI_Specification { get; set; }

    protected override async Task OnInitializedAsync()
    {
        System.Console.WriteLine("OnInitializedAsync");
       // metadata = await GetMetadata();
    }


    string get_style_string(string p_style_string)
    {
        //"{"position":"absolute","top":12,"left":8,"height":50,"width":110.219,"font-weight":"400","font-size":"16px","font-style":"normal","color":"rgb(0, 0, 0)"}"
        var result = p_style_string.Substring(1);

        result = result.Replace("\"", "").Replace("{","").Replace("}","").Replace(",", ";");

        return result;
    }

/*
    const default_ui_specification = await $.ajax
    ({
        url: `${location.protocol}//${location.host}/api/version/${g_release_version}/ui_specification`,
    });
  
    g_default_ui_specification = default_ui_specification;


var style_object = g_default_ui_specification.form_design[p_dictionary_path.substring(1)];
	
get_style_string(style_object.control.style

function get_style_string(p_style_string)
{
	//"{"position":"absolute","top":12,"left":8,"height":50,"width":110.219,"font-weight":"400","font-size":"16px","font-style":"normal","color":"rgb(0, 0, 0)"}"
	var result = p_style_string.substring(1);

	result = result.replace(/["']/g, "").replace("{","").replace("}","").replace(/,/g, ";");

	return result;
}
*/
}
