@page "/view-data"
@inject IHttpClientFactory httpFactory

<h1>View Data</h1>
<h2>@CurrentForm</h2>

<p>This component demonstrates fetching data from the server.</p>

@if (metadata == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
    @foreach (var item in metadata.children.Where(x=> x.type == "form"))
    {
        <li>

            <button @onclick="@(e=> NavButtonClick(e, @item.name))">
                @item.prompt
            </button>
        </li>    
    }
    </ul>
    
    <MetadataForm Metadata="@selected_node"> </MetadataForm>

    //var form  =  metadata.children.Where(x=> x.type == "form").FirstOrDefault();
    @foreach (var item  in selected_node.children)
    {
        @switch (item.type.ToUpper())
        {
            case "STRING":
            case "NUMBER":
            <p>@item.prompt</p>
            <input type="text" value="" />  
            break;

                        
            case "LIST":
            <p>@item.prompt</p>
            <select>

            @foreach (var option  in item.values)
            {

            }

            </select> 
            break;
        }

        break;
          
    }
}

@code 
{
    
    public string CurrentForm { get; set; } = "Test";

    mmria.common.metadata.node selected_node;

    mmria.common.metadata.app metadata;

    protected override async Task OnInitializedAsync()
    {
        System.Console.WriteLine("OnInitializedAsync");
        metadata = await GetMetadata();
        selected_node = metadata.children.Where(x=> x.type == "form").FirstOrDefault();
        
    }

    public class WeatherForecast
    {
        public DateTime Date { get; set; }

        public int TemperatureC { get; set; }

        public string Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }


    async Task<mmria.common.metadata.app> GetMetadata()
    {
        var client = httpFactory.CreateClient("base_client");

        var response = await client.GetStringAsync("metadata/mmria-pmss-builder");

        System.Console.WriteLine(response.Substring(0, 100));

        var result = System.Text.Json.JsonSerializer.Deserialize<mmria.common.metadata.app>(response);

        return result;
    }

    void NavButtonClick(MouseEventArgs e, string tab)
    {
        CurrentForm = tab;
        selected_node = metadata.children.Where(x=> x.type == "form" && x.name == tab).FirstOrDefault();

    }

}
