@using System.Security.Claims;
@model mmria.server.Controllers.Audit_Detail_View
@{
    Layout = "_LayoutBase";

    ViewBag.BreadCrumbs = true;

    var row_number = 0;

    DateTime? previous_date = null;

    string get_note(string value)
    {
        if(value == "hash_change")
        {
            return "Browser Navigation";
        }
        else return value;
    }

    var change_item = Model.cs.items[Model.change_item];

}

@section HeadScripts
{
    <script src="/scripts/data-dictionary/jsdifflib/diffview.js" type="text/javascript"></script>
    <script src="/scripts/data-dictionary/jsdifflib/difflib.js" type="text/javascript"></script>
    <script src="/scripts/data-dictionary/diff.js" type="text/javascript"></script>
    <script src="/scripts/_audit/index.js" type="text/javascript"></script>
}
<input type="button" onclick="window.history.back();" value="<< back"/>
<h1 class="h2" tabindex="-1">Case Audit Detail</h1>
<h3>@Model.cv.last_name, @Model.cv.first_name</h3>
<p><strong>Record Id:</strong> @Model.cv.record_id</p>
<p><strong>Date Created:</strong> @Model.cv.date_created <strong>Created By:</strong> @Model.cv.created_by</p>
<p><strong>Date Last Updated:</strong> @Model.cv.date_last_updated <strong>Last Updated By:</strong> @Model.cv.last_updated_by</p>


<hr/>
<p><strong>Abstractor:</strong> @change_item.user_name <strong>Note:</strong> @get_note(Model.cs.note)</p>

@if(Model.MetadataNode.type.ToUpper()=="LIST" && (Model.MetadataNode.is_multiselect != null &&  Model.MetadataNode.is_multiselect.Value))
{
    var old_list_array = change_item.old_value.Trim('[').Trim(']').Split(",");
    bool is_add = false;
    foreach(var val in old_list_array)
    {
        var check_val = val.Trim('"');
        if(change_item.new_value == check_val)
        {
            is_add = true;
            break;
        }
    }

    if(is_add)
    {
        <p><strong>Change made:</strong> The value <strong>@change_item.new_value</strong> was added to list</p>
    }
    else
    {
        <p><strong>Change made:</strong> The value: <strong>@change_item.new_value</strong> was removed from list</p>
    }
    <p><strong>List items:</strong> @change_item.old_value</p>
}
else if(Model.MetadataNode.type.ToUpper()=="TEXTAREA")
{
    <script lang="javascript">

        window.onload = function() {
	    diffUsingJS();
    }
        
    </script>
    <div id="baseText"style="display:none;">@change_item.old_value</div>
    <div id="newText"style="display:none;">@change_item.new_value</div>
    <!--div id="diffoutput" style="white-space:pre;"></div-->
    <div id="diffoutput"></div>
}
else
{
    <table>
        <tr><th>Old Value</th><th>New Value</th></tr>
        <tr><td>@change_item.old_value</td><td>@change_item.new_value</td></tr>
    </table>
}
<hr/>
<p><strong>Question Prompt:</strong> @change_item?.prompt</p>
<p><strong>MMRIA Path:</strong> @change_item.dictionary_path</p>
<p><strong>SAS Name:</strong> @Model.MetadataNode.sass_export_name</p>
<p><strong>Description:</strong> @Model.MetadataNode.description</p>
@if(Model.MetadataNode.type.ToUpper()=="LIST")
{

    <table border=1>
        <tr>
            <th>value</th>
            <th>display</th>            
        </tr>

    @foreach(var item in Model.value_to_display)
    {
        <tr>
            <td>@item.Key</td>
            <td>@item.Value</td>
        </tr>
    }
    </table>
}
<br/>
<input type="button" onclick="window.history.back();" value="<< back"/>

