@model mmria.server.model.app_config

<a href="/Home">Home</a>
<br/>
@using (Html.BeginForm("Index", "_config", FormMethod.Post))
{
    <table>
    <tr><th>name</th><th>value</th></tr>



    <tr><td>is_environment_based</td><td>@Html.CheckBoxFor(m => m.is_environment_based.Value)</td></tr>

    <tr><td>web_site_url</td><td>@Html.TextBoxFor(m => m.web_site_url)</td></tr>

    <tr><td>log_directory</td><td>@Html.TextBoxFor(m => m.log_directory)</td></tr>

    <tr><td>export_directory</td><td>@Html.TextBoxFor(m => m.export_directory)</td></tr>

    <tr><td>couchdb_url</td><td>@Html.TextBoxFor(m => m.couchdb_url)</td></tr>

    <tr><td>timer_user_name</td><td>@Html.TextBoxFor(m => m.timer_user_name)</td></tr>

    <tr><td>timer_password</td><td>@Html.TextBoxFor(m => m.timer_password)</td></tr>

    <tr><td>cron_schedule</td><td>@Html.TextBoxFor(m => m.cron_schedule)</td></tr>

    <tr><td>password_minimum_length</td><td>@Html.TextBoxFor(m => m.password_minimum_length)</td></tr>

    <tr><td>password_days_before_expires</td><td>@Html.TextBoxFor(m => m.password_days_before_expires)</td></tr>

    <tr><td>password_days_before_user_is_notified_of_expiration</td><td>@Html.TextBoxFor(m => m.password_days_before_user_is_notified_of_expiration)</td></tr>

    <tr><td>EMAIL_USE_AUTHENTICATION</td><td>@Html.TextBoxFor(m => m.EMAIL_USE_AUTHENTICATION)</td></tr>

    <tr><td>EMAIL_USE_SSL</td><td>@Html.TextBoxFor(m => m.EMAIL_USE_SSL)</td></tr>

    <tr><td>SMTP_HOST</td><td>@Html.TextBoxFor(m => m.SMTP_HOST)</td></tr>

    <tr><td>SMTP_PORT</td><td>@Html.TextBoxFor(m => m.SMTP_PORT)</td></tr>

    <tr><td>EMAIL_FROM</td><td>@Html.TextBoxFor(m => m.EMAIL_FROM)</td></tr>

    <tr><td>EMAIL_PASSWORD</td><td>@Html.TextBoxFor(m => m.EMAIL_PASSWORD)</td></tr>


    </table>

    <input type="submit" value="save" />
}