@model mmria.server.model.app_config
<script src="../scripts/jquery-3.1.1.min.js"></script>
<script src="../scripts/_config/index.js" type="text/javascript"></script>
<a href="/Home">Home</a>
<br/>
<style>
 .wide
{
     width: 400px;
}
</style>
@using (Html.BeginForm("Index", "_config", FormMethod.Post))
{
    <table>
    <tr><th colspan=2>View Configuration Settings</th></tr>
    <tr><th>&nbsp;</th><th>&nbsp;</th></tr>
    <tr><th colspan=2>Installation Information</th></tr>



    <tr><td>is_environment_based</td><td>@Html.TextBoxFor(m => m.is_environment_based.Value)</td></tr>

    <tr><td><span title="web_site_url: The only important thing for this setting is the port number. ">web_site_url</span></td><td>@Html.TextBoxFor(m => m.web_site_url, new { @class= "wide" })</td></tr>

    <tr><td>log_directory</td><td>@Html.TextBoxFor(m => m.log_directory, new { @class= "wide" })</td></tr>

    <tr><td>export_directory</td><td>@Html.TextBoxFor(m => m.export_directory, new { @class= "wide" })</td></tr>


    <tr><td colspan=2>&nbsp;</td></tr>
    <tr><td colspan=2 align=center><b>Database Information</b></td></tr>
    
    <tr><td>couchdb_url</td><td>@Html.TextBoxFor(m => m.couchdb_url, new { @class= "wide" })</td></tr>

    <tr><td>timer_user_name</td><td>@Html.TextBoxFor(m => m.timer_user_name)</td></tr>

    <tr><td>timer_password</td><td><span title='@Model.timer_password'>@Html.PasswordFor(m => m.timer_password)</span></td></tr>

    <tr><td>cron_schedule</td><td>@Html.TextBoxFor(m => m.cron_schedule)</td></tr>

    <tr><td colspan=2>&nbsp;</td></tr>
    <tr><td colspan=2 align=center><b>Email Configuration</b></td></tr>

    <tr><td>EMAIL_USE_AUTHENTICATION</td><td>@Html.TextBoxFor(m => m.EMAIL_USE_AUTHENTICATION)</td></tr>

    <tr><td>EMAIL_USE_SSL</td><td>@Html.TextBoxFor(m => m.EMAIL_USE_SSL)</td></tr>

    <tr><td>SMTP_HOST</td><td>@Html.TextBoxFor(m => m.SMTP_HOST)</td></tr>

    <tr><td>SMTP_PORT</td><td>@Html.TextBoxFor(m => m.SMTP_PORT)</td></tr>

    <tr><td>EMAIL_FROM</td><td>@Html.TextBoxFor(m => m.EMAIL_FROM, new { @class= "wide" })</td></tr>

    <tr><td>EMAIL_PASSWORD</td><td><span title='@Model.EMAIL_PASSWORD'>@Html.PasswordFor(m => m.EMAIL_PASSWORD, new { @class= "wide" })</span></td></tr>

    <tr><td colspan=2>&nbsp;</td></tr>
    <tr><td colspan=2 align=center><b>Password Policy</b></td></tr>

    <tr><td>password_minimum_length</td><td>@Html.TextBoxFor(m => m.password_minimum_length)</td></tr>

    <tr><td>password_days_before_expires</td><td>@Html.TextBoxFor(m => m.password_days_before_expires)</td></tr>

    <tr><td>password_days_before_user_is_notified_of_expiration</td><td>@Html.TextBoxFor(m => m.password_days_before_user_is_notified_of_expiration)</td></tr>

  <tr><td colspan=2>&nbsp;</td></tr>
  <tr><td colspan=2 align=center><b>Authentication Policy</b></td></tr>
  <tr><td>default_days_in_effective_date_interval</td><td>@Html.TextBoxFor(m => m.default_days_in_effective_date_interval)</td></tr>

  <tr><td>unsuccessful_login_attempts_number_before_lockout</td><td>@Html.TextBoxFor(m => m.unsuccessful_login_attempts_number_before_lockout)</td></tr>            

  <tr><td>unsuccessful_login_attempts_within_number_of_minutes</td><td>@Html.TextBoxFor(m => m.unsuccessful_login_attempts_within_number_of_minutes)</td></tr>

  <tr><td>unsuccessful_login_attempts_lockout_number_of_minutes</td><td>@Html.TextBoxFor(m => m.unsuccessful_login_attempts_lockout_number_of_minutes)</td></tr>

    </table>
}
<br/>
<p><b>NOTE:</b> To change settings please edit the appsettings.json configuration file and restart the mmria-server or mmria-service.</p>
<a href="/Home">Home</a>
<br/><br/>
<div id="config_db">
<p>To apply the latest metadata updates to the Database, please use the form below.</p>
<form id='config_form'>
<!--target_server: <input id="p_target_server" type="text" value="http://localhost:5984" /><br/-->
<b>target_db_user_name:</b> <input id="p_target_db_user_name" type="text" value="" /><br/>
<b>target_db_password:</b> <input id="p_target_db_password" type="password" value="" /><br/><br/>
<br/><br/>
<input type="button" value="run db  upgrade" onclick="run_db_setup_click()"/>
<br/><br/>
<textarea id='config_form_output' rows=20 cols=120>
  </textarea>
</form>


<a href="/Home">Home</a>