@model List<mmria.pmss.server.utils.VROSummaryItem>
@{
    Layout = "_LayoutBase";
    ViewBag.BreadCrumbs = true;
    var total = new mmria.pmss.server.utils.VROSummaryItem();
    var _index = 0;
}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="description" content="The Pregnancy Mortality Surveillance System (PMSS) is a public health software tool created to collect, store, analyze and summarize information relevant to maternal deaths. The PMSS serves 2 purposes: first to provide complete, detailed, and organized medical and social information that can be used by medical review committees to investigate individual maternal deaths; and second to provide a standardized cumulative database for future research and analysis on maternal mortality.">
<title>Pregnancy Mortality Surveillance System | Public Health | PMSS - Jurisdiction Summary</title>
</head>
<body>


<h1>VRO Export All Cases</h1>

<table border=1>
<tr>
    <td colspan=5><b>Download </b><a href="vro_export/GenerateReport" target="_report" >Excel</a></td>
    <td colspan="20" align=Left><b>PMSS VRO Export</b></td>
</tr>
<tr>
    <th>#</th>
    <th>Death_Year</th>
    <th>Jurisdiction_Abrev</th>
    <th>Jurisdiction_Name</th>
    <th>DC_AuxNo</th>
    <th>DC_FileNo</th>
    <th>DC_DOD</th>
    <th>DC_TimingOfDeath</th>
    <th>DC_Cod33A</th>
    <th>DC_Cod33B</th>
    <th>DC_Cod33C</th>
    <th>DC_Cod33D</th>
    <th>DC_Other_Factors</th>
    <th>ACME_UC</th>
    <th>MAN_UC</th>
    <th>EAC</th>
    <th>CDC_CheckBox</th>
    <th>CDC_ICD</th>
    <th>CDC_LiteralCOD</th>
    <th>CDC_Match_Det_BC</th>
    <th>CDC_Match_Det_FDC</th>
    <th>CDC_Match_Prob_BC</th>
    <th>CDC_Match_Prob_FDC</th>
    <th>VRO_Resolution_Status</th>
    <th>VRO_Confirmation_Method_and_Additional_Notes</th>



</tr>

@foreach (var item in Model)
{
    _index+=1;
    
    /*
    if(total.num_recs > -1)
    total.num_recs += item.num_recs;

    if(total.num_users_unq > -1)
    total.num_users_unq += item.num_users_unq;
    
    if(total.num_users_ja > -1)
    total.num_users_ja += item.num_users_ja;
    
    if(total.num_users_abs > -1)
    total.num_users_abs += item.num_users_abs;
    
    if(total.num_user_anl > -1)
    total.num_user_anl += item.num_user_anl;
    
    if(total.num_user_cm > -1)
    total.num_user_cm += item.num_user_cm;
    */

<tr>
    <td>@_index</td>
    <td>@item.Death_Year</td>
    <td>@item.Jurisdiction_Abrev</td>
    <td>@item.Jurisdiction_Name</td>
    <td>@item.DC_AuxNo</td>
    <td>@item.DC_FileNo</td>
    <td>@item.DC_DOD</td>
    <td>@item.DC_TimingOfDeath</td>
    <td>@item.DC_Cod33A</td>
    <td>@item.DC_Cod33B</td>
    <td>@item.DC_Cod33C</td>
    <td>@item.DC_Cod33D</td>
    <td>@item.DC_Other_Factors</td>
    <td>@item.ACME_UC</td>
    <td>@item.MAN_UC</td>
    <td>@item.EAC</td>
    <td>@item.CDC_CheckBox</td>
    <td>@item.CDC_ICD</td>
    <td>@item.CDC_LiteralCOD</td>
    <td>@item.CDC_Match_Det_BC</td>
    <td>@item.CDC_Match_Det_FDC</td>
    <td>@item.CDC_Match_Prob_BC</td>
    <td>@item.CDC_Match_Prob_FDC</td>
    <td>@item.VRO_Resolution_Status</td>
    <td>@item.VRO_Confirmation_Method_and_Additional_Notes</td>
</tr>
}


</table>

<p><b style="color:#FF0000;">NOTE:</b> <b>-1</b> values indicate a failure to get data and -1 values are <b>NOT included</b> in the totals.</p>
 
</body>
</html>
