@using System.Security.Claims;
@model mmria.server.model.casestatus.CaseStatusDetail
@{ 
    Layout = "_LayoutBase"; 
    var userName = "";

    
    if(User.Identity != null && User.Identity.IsAuthenticated)
    {
        userName = User.Identities.First(
        u => u.IsAuthenticated && 
        u.HasClaim(c => c.Type == ClaimTypes.Name)).FindFirst(ClaimTypes.Name).Value;
    }

    
}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="The Maternal Mortality Review Information App (MMRIA) is a public health software tool created to collect, store, analyze and summarize information relevant to maternal deaths. The MMRIA serves 2 purposes: first to provide complete, detailed, and organized medical and social information that can be used by medical review committees to investigate individual maternal deaths; and second to provide a standardized cumulative database for future research and analysis on maternal mortality.">
<title>Maternal Mortality Review Information App | Public Health | MMRIA</title>
</head>
<body>
<a href="/home">home</a> | <a href="/clear_case_status">search again</a></a><br/>
<br/><br/>
<form method="post" action="/clear_case_status/ClearCaseStatus">
    Are you sure you want to clear the case status for:  @Model.FirstName Model.MiddleName @Model.LastName (@Model.RecordId)
    <br/><br/>
        <p><strong>Case Status:</strong> @Model.CaseStatus</p>
       <p><strong>_id:</strong> @Model._id</p>
       <p><strong>FirstName:</strong> @Model.FirstName</p>
        <p><strong>MiddleName:</strong> @Model.MiddleName</p>
       <p><strong>LastName:</strong> @Model.LastName</p>

       <p><strong>Date Of death:</strong> @Model.DateOfDeath</p>
       <p><strong>State of Death:</strong> @Model.StateOfDeath</p>
        
        <input type="hidden" name="_id" value="@Model._id"/>

       <input type="hidden" name="RecordId" value="@Model.RecordId" />
       <input type="hidden" name="FirstName" value="@Model.FirstName" />
       <input type="hidden" name="LastName" value="@Model.LastName" />
       <input type="hidden" name="MiddleName" value="@Model.MiddleName" />
       <input type="hidden" name="DateOfDeath" value="@Model.DateOfDeath" />
       <input type="hidden" name="StateOfDeath" value="@Model.StateOfDeath" />
       <input type="hidden" name="CaseStatus" value="@Model.CaseStatus" />
       <input type="hidden" name="StateDatabase" value="@Model.StateDatabase" />
                
    <input type="Submit" value="Confirm" /> | [ <a href="/clear_case_status">Cancel</a> ]
</form>
<br/><br/>
  <a href="/home">home</a> | <a href="/clear_case_status">search again</a><br/>

</body>
</html>
