@using System.Security.Claims;
@model mmria.server.model.year_of_death.YearOfDeathDetail
@{ 
    Layout = "_LayoutBase";
    ViewBag.BreadCrumbs = true;
    var userName = "";
    
    if(User.Identity != null && User.Identity.IsAuthenticated)
    {
        userName = User.Identities.First(
        u => u.IsAuthenticated && 
        u.HasClaim(c => c.Type == ClaimTypes.Name)).FindFirst(ClaimTypes.Name).Value;
    }
}

@if
(
    Model.is_only_record_id_change.HasValue &&
    Model.is_only_record_id_change.Value
)
{
    <h1 class="h2" tabindex="-1">Update MMRIA Reord ID</h1>
    <a class="btn btn-secondary" href="/update_year_of_death">Search Again</a>

    <h3 class="h4">MMRIA Reord ID has been set to: <strong>@Model.RecordIdReplacement</strong></h3>
    <p><strong>Year of Death:</strong> @Model.YearOfDeath</p>
    <p><strong>MMRIA Record ID:</strong> @Model.RecordIdReplacement</p>
    <p><strong>First Name:</strong> @Model.FirstName</p>
    <p><strong>Middle Name:</strong> @Model.MiddleName</p>
    <p><strong>Last Name:</strong> @Model.LastName</p>
    <p><strong>Date of Death:</strong> @Model.DateOfDeath</p>
    <p><strong>Last Updated By:</strong> @Model.LastUpdatedBy</p>
    <p><strong>Date/Time Last Updated:</strong> @Model.DateLastUpdated</p>


    <a class="btn btn-primary mb-3" href="/update_year_of_death">Search Again</a>
}
else
{
    <h1 class="h2" tabindex="-1">Update Year Of Death and MMRIA Reord ID</h1>
    <a class="btn btn-secondary" href="/update_year_of_death">Search Again</a>

    <h3 class="h4">Year Of Death and MMRIA Reord ID has been set to: Year of Death: <strong>@Model.YearOfDeathReplacement</strong> MMRIA Record ID: <strong>@Model.RecordIdReplacement</strong></h3>
    <p><strong>Year of Death:</strong> @Model.YearOfDeathReplacement</p>
    <p><strong>MMRIA Record ID:</strong> @Model.RecordIdReplacement</p>
    <p><strong>First Name:</strong> @Model.FirstName</p>
    <p><strong>Middle Name:</strong> @Model.MiddleName</p>
    <p><strong>Last Name:</strong> @Model.LastName</p>
    <p><strong>Date of Death:</strong> @Model.DateOfDeath</p>
    <p><strong>Last Updated By:</strong> @Model.LastUpdatedBy</p>
    <p><strong>Date/Time Last Updated:</strong> @Model.DateLastUpdated</p>

    <a class="btn btn-primary mb-3" href="/update_year_of_death">Search Again</a>

}